<form method="POST" action="/sign-in-process">
	<label for="username">Username</label>
	<input type="username" name="username">
	&nbsp;&nbsp;
	<label for="password">Password</label>
	<input type="password" name="password">
<br>
<input type="submit" name="submit" value="Sign Up">
</form>

<br>

<a href="/sign-up">Don't have an account? Sign up.</a>